
.welcome-page {
    background-image: url(./css-images/welcome-page-background.jpeg);
    background-size: cover;
}

h1 {
    text-align: center;
}

.datepicker {
    cursor: pointer;
}

@media (max-width: 1137px) {
    body {
        background-size: 1550px;
    }
}