
.welcome-page {
    background-image: url(./css-images/welcome-page-background.jpeg);
    background-size: cover;
}

h1 {
    text-align: center;
}

.datepicker {
    cursor: pointer;
}

@media (max-width: 1137px) {
    .welcome-page {
        background-size: 1550px;
    }
}

#loadingGraphic {
    display: none;
    /* ADD LOADING GRAPHIC HERE */
}